[data-action] {
    cursor: pointer;
}


#holder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  margin-block-start: 30px;
  place-content: center;
}

article#single_student{
background-color: rgba(246, 245, 245, 0.208);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  margin: auto;
}
[data-field=prefect]::after{
  content:"🔔";
}

[data-field=prefect][data-prefect=false]::after{
filter: grayscale(1);
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(165, 180, 180, 0.632);
}

.pop_op_content{
  display: grid;
  box-shadow: 1px 1px 1px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: #ddd6db;
  position: relative;
  align-content: center;
  width: 30%;
  height: 60%;
}

#pop_op_info p{
margin-bottom: -10px;
}


button#makeIT{
margin-top: 20px;
}

div.dialog1{
  padding: 30px;
  border: solid 1px black;
  background-color:  #f5eec0;
}

button.closebutton{
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.hide{
  visibility: hidden;
}

@media (min-width: 800px){
body{
background-color: rgb(62, 55, 55);
}
/*style interface*/
h1{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
h2{
  color: white;}
h3{
  color:white;
  text-decoration: underline;

}

#search_and_hack{
  text-align: center;
}

.grid_container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#holder{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  margin-block-start: 70px;
place-content: center;
margin-inline: -140px;
}

article#single_student{
background-color: rgba(246, 245, 245, 0.208);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  margin: auto;
}

article#single_student p{
  text-align: center;

}

article#single_student button{
  all: unset;
  background-color:  #f5eec0;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -30px;
  margin-inline: 25px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}


.filter_sort_buttons{
  margin-right: 40%;
  padding-left: 10%;
  cursor: pointer;
}

.filter_sort_buttons button{
  all: unset;
  border: rgb(0, 0, 0) solid 1px;
  background-color: rgb(237, 237, 226);
  padding: 5px;
  padding-inline: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.sorting button{
  background-color: rgb(237, 237, 226);
  border-radius: 1px;
  margin-bottom: 3px;
}

.filtering button,.sorting button{
  display: block;
}

.filter_sort_buttons h3{
  margin-bottom: 5px;
}

.filter_sort_buttons h2{
font-size: 1.2rem;
}

#counting_text{
  text-align: left;
  padding-left: 50%;
 color: white;
 z-index: -100;
}

#filter_buttons button{
  display: inline;
  margin-bottom: 10px;
  margin-right: 80%;
  padding-left: 20px;
}


[data-field=prefect]::after{
    content:"🔔";
  }

  [data-field=prefect][data-prefect=false]::after{
  filter: grayscale(1);
  }

.knapper{
  display: flex;
  flex-direction:column;
  margin-bottom: 15px;
}

  .hide{
    visibility: hidden;
  }


  [data-field=first_name] {
    font-size: 2rem;
  }
  [data-field=last_name] {
    font-size: 1.25rem;
    margin-top: -33px;
  }
  

  /*style pop_op*/
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 180, 180, 0.632);
  }
  
  .pop_op_content{
    display: grid;
    box-shadow: 1px 1px 1px #333;
    border-radius: 12px;
    padding: 2em;
    background-color: #ddd6db;
    position: relative;
    align-content: center;
    width: 30%;
    height: 40%;
  }
 
  #pop_op_info h1{
    margin-top: 120px;
  }
  
  button.closebutton{
    position: absolute;
    right: -1em;
    top: -1em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
  
  }

  img#picture{
    display: grid;
    position: relative;
    left: 40px;
  }

  #pop_op_info p{
    display: grid;
    position: relative;
    left: 240px;
    top: -130px;
    margin-bottom: 10px;
  }

  button#makeIT{
    position: relative;
    top: -120px;
  }

  button#expell{
    position: relative;
    top: -110px;
  }

  div.dialog1{
    padding: 30px;
    border: solid 1px black;
    background-color:  #f5eec0;
  }

#hacked_text{
  font-size: 6rem;
 position: fixed;
 top: 60px;
 left: 200px;
}



}
  