[data-action] {
    cursor: pointer;
}
body{
background-color: rgb(62, 55, 55);
}
/*style interface*/
h1{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

#search_and_hack{
  text-align: center;
}

.grid_container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#holder{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-block-start: 70px;
place-content: center;
margin-inline: -120px;
}

article#single_student{
background-color: rgba(246, 245, 245, 0.208);
  border: solid 2px rgb(255, 255, 255);
}

article#single_student p{
  text-align: center;
}

article#single_student button{
  background-color: #ffe191;
  text-align: center;
  margin-top:-20px;
  margin-inline: 25px;
  padding: auto;
}


.filter_sort_buttons{
  margin-right: 40%;
  padding-left: 10%;
}
.filtering button,.sorting button{
  display: block;
}





#counting_text{
  display: inline-block;

  text-align: left;
 margin-inline: auto;
 
 
}


#filter_buttons button{
  display: inline;
  margin-bottom: 10px;
  margin-right: 80%;
  padding-left: 20px;
}


[data-field=winner]::after{
    content:"🔔";
  }



  [data-field=winner][data-winner=false]::after{
  filter: grayscale(1);
  }

.knapper{
  display: flex;
  flex-direction:column;
  margin-bottom: 15px;
  padding: auto;
}

  .hide{
    visibility: hidden;
  }
  


  /*style pop_op*/
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 180, 180, 0.632);
  }
  
  .pop_op_content{
    box-shadow: 1px 1px 1px #333;
    border-radius: 12px;
    padding: 2em;
    background-color: #ffe191;
    position: relative;
    align-content: center;
    width: 30%;
    height: 40%;
  }
 
  #pop_op_info h1{
    margin-top: 0;
  }
  
  button.closebutton{
    position: absolute;
    right: -1em;
    top: -1em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
  
  }


